:root {
    --gold: #F5C65D;
    --brown: #CFA549;
    --dark-brown: #3E3B36;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#main-container {
width: 97%;
  height: 93vh;
  background-color: var(--gold);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  outline: 0.14rem solid var(--brown);
}

#header {
  width: 95%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  flex-direction: row;
  -webkit-app-region: drag;
}

#body {
  display: flex;
  width: 95%;
  height: 81vh;
  background-color: #FFFDEA;
  margin-bottom: 0.5rem;
  outline: 0.12rem solid var(--brown);
  align-self: center;
  margin-right: 0.5rem;
  flex-direction: column;
}

#app-name {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark-brown);
  margin-left: 0.6rem;
}

#close {
  -webkit-app-region: no-drag;
}

#cat-container {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#category {
  color: var(--dark-brown);
  font-size: 1.5rem;
  font-family: 'Pixelify Sans', sans-serif;
}

#settings-container {
    width: 100%;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

.containers {
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: #FFFDEA;
    align-items: center;
    justify-content: space-between;
}

.settings-label {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--dark-brown);
    margin-left: 20px;
}

.container-img {
    margin-right: 10px;
    width: 100%;
    height: 100%;
    display: block;
}

#sound-container{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

#sound-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-brown);
    margin-left: 10px;
}

#save-button{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#save-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.8rem;
    color: var(--dark-brown);
    font-weight: bold;
}

.scale-hover {
  transition: transform 0.2s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.darken-hover {
  transition: 0.2s ease-in-out;
}

.darken-hover:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

#check-container {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}


#check-container input[type="checkbox"] {
  display: none;
}


#check-container .checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid #a87554;  
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 2;
}

/* Show and animate when checked */
#check-container input[type="checkbox"]:checked + .checkmark {
  opacity: 1;
  animation: pop-check 0.25s ease forwards;
  box-shadow: 0 0 4px #e8cba1;
}


@keyframes pop-check {
  0% {
    transform: scale(0.2) rotate(45deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}

.setting-wrapper {
  position: relative;
  width: 70px;
  height: 30px;
  margin: auto;
}

.time-value {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: #5e4c3b;
  pointer-events: none;
}

.up-down-buttons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.up-btn,
.down-btn {
  width: 16px;
  height: 10px;
  padding: 0;
  border: none;
  background: none;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: var(--dark-brown);
  cursor: pointer;
  line-height: 0.2;
  transition: color 0.2s ease;
}

.up-btn:hover,
.down-btn:hover {
  color: var(--brown);
  transform: scale(1.2);
}
